numpy
pandas
sqlalchemy
Flask
gunicorn
json5
datetime
databases
asyncpg
azure-core
azure-eventhub
azure-identity
azure-schemaregistry
azure-schemaregistry-avroserializer
fastapi
okta-jwt
okta-jwt-verifier
httptools==0.1.*
httpx
swifter
geocoder


